* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 850px;
}

header {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    padding-bottom: 60px;
    align-items: baseline;
}

/* Page padding for all sections in the body */
.hero,
.info-section /*, all the other sections*/ {
    padding: 0 10%;
    display: flex;
}

/* The hero and info sections have headers or titles and need a flex-direction of column for proper layout */
.hero,
.info-section {
    flex-direction: column;
}

.hero /*, footer*/ {
    background-color: #1F2937;
    color: #F9FAF8;
}

#header-logo-text {
    font-size: 24px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header li a,
.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

header li a {
    text-decoration: none;
}

.hero-content {
    display: flex;
    /* justify-content: space-between; */
    gap: 60px;
    padding-bottom: 100px;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-secondary-text {
    margin-top: 0;
    margin-bottom: 10px;
}

.hero img {
    /* width: 400px; */
    /* height: 300px; */
    min-width: 50%;
    /* min-height: 100px; */
    aspect-ratio: 5 / 2;
    object-fit: cover; /* This crops the image into my allotted aspect ratio rather than shrinking it to fit */
}

.sign-up-button /* , .call-to-action*/ {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border: none;
    padding: 5px 25px;
    border-radius: 5px;
}

.info-section {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.info-section-header {
    padding-bottom: 20px;
}

.info-section-items {
    display: flex;
    justify-content: space-evenly;
    margin: 0 88px;
    gap: 40px;
}

.info-item {
    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
    align-items: stretch;
}

.info-item img {
    /* Currently an arbitrary height so it can shrink too much*/
    min-width: 115px;
    min-height: 115px;
    max-width: 100%;
    aspect-ratio: 1;
    border: #3882F6 solid;
    border-radius: 10%;
}

.info-item p {
    text-align: center;
}
