* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 850px;
}

/* Page padding for most body sections */
.hero,
.info-section,
.action-section {
    padding: 0 10%;
}

/* Matching header and footer elements */
.hero, footer {
    background-color: #1F2937; /* Match with text color on white background sections */
    color: #F9FAF8;
}


/********************************************
 * Hero Section styles
 * The Header is part of the Hero Section.
********************************************/

header li a,
.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}


/* Header styles */

header {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    padding-bottom: 60px;
    align-items: baseline;
}

#header-logo-text {
    font-size: 24px;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header li a {
    text-decoration: none;
}

.hero-content {
    display: flex;
    gap: 60px;
    padding-top: 30px;
    padding-bottom: 120px;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-secondary-text {
    margin-top: 0;
    margin-bottom: 10px;
}

.hero img {
    min-width: 50%;
    aspect-ratio: 5 / 2;
    object-fit: cover; /* This crops the image into my allotted aspect ratio rather than shrinking it to fit */
}


/*
Buttons and the Action Container (within the Action Section) have some matching styles.
*/
button,
.action-container {
    background-color: #3882F6;
    color: #F9FAF8; /* Match to button border-color in action-container */
    font-weight: 700;
    border: none;
    padding: 5px 25px;
    border-radius: 7px;
}


/***********************
 * Info Section styles
************************/

.info-section {
    align-items: center;
    padding-top: 15px;
    padding-bottom: 80px;
}

.info-section-header {
    padding-bottom: 20px;
}

.info-section-items {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
    gap: 30px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.info-item img {
    /* Currently an arbitrary min sizes so images cannot shrink too much*/
    min-width: 115px;
    min-height: 115px;
    max-width: 100%;
    aspect-ratio: 1;
    border: #3882F6 solid;
    border-radius: 10%;
}

.info-item p {
    text-align: center;
}

.info-section-header {
    font-weight: 900;
}

/* 
Info section header and matching blockquote p styles.
Large font, text color matches Hero background color, and centered text.
*/
.info-section-header,
blockquote p {
    font-size: 36px;
    color:#1F2937; /* Match text color to Hero background color */
    text-align: center;
}


/************************
 * Quote Section styles
*************************/

.quote-section {
    padding: 80px 20%;
    background-color: #e5e7eb;
}

/* Some blockquote p styles are combined with .info-section-header previously to keep them matching */
blockquote p {
    font-weight: 200;
    font-style: italic;
}

blockquote p::before {
    content: "\201C";
}

blockquote p::after {
    content: "\201D";
}

blockquote + p {
    text-align: right;
    font-weight: 700;
}


/************************
 * Action Section styles
*************************/

.action-section {
    display: flex;
}

.action-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.call-to-action h3 {
    margin-top: 40px;
    margin-bottom: 0;
}

.call-to-action p {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 16px;
}

/* This particular button needs a border */
.action-container button {
    border: #F9FAF8 solid 3px; /* Match action-container text color */
}


/***********************
 * Footer styles
************************/

footer {
    text-align: center;
    padding: 25px;
  }